$colors : (
  bg: rgb(235, 235, 235),
  bd: rgb(200, 200, 200),
);

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .todo-container {
    height: 80%;
    width: 50%;
    background-color: map-get($colors, bg);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid map-get($colors, bg);
    
    .header {
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      text-align: center;
      flex-basis: 10%;
      padding: 1vw 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      span {
        display: block;
        width: 100%;
        flex-basis: 0;
        flex-shrink: 1;
        font-size: 2.5vw;
      }
      img {
        width: 6vw;
        flex-shrink: 1;
        height: auto;
      }
      
    }
    
    .content {
      overflow-y: scroll;
      flex-basis: 70%;

      ul{
        padding: 2vw 1vw;
        display: flex;
        flex-direction: column;
        gap: .5vh;
        font-size: 1rem;

        li{
          list-style: none;
          background-color: rgb(255, 255, 255);
          border-radius: 10px;

          .todo {
            border: 1px solid map-get($colors, bg);
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            padding: .5vh;

            span {
              flex-basis: 85%;
              display: block;
            }
            input {
              flex-shrink: 0;
              flex-grow: 0;
              appearance: none;
              width: 2rem;
              min-width: 2rem;
              height: 2rem;
              min-height: 2rem;
              border-radius: 50%;
              border: 1px solid map-get($colors, bd);
              cursor: pointer;
              
              &:checked {
                outline: none;
              }

            }
            button {
              width: 2rem;
              min-width: 2rem;
              height: 2rem;
              min-height: 2rem;
              border: none;
              border-radius: 50%;
              font-size: .8rem;
              cursor: pointer;
              outline: none;
            }
          }

          // 완료된 투두
          .done {
            background-color: map-get($colors, bg);
            border: 1px solid white;
            span{
              color: map-get($colors, bd);
              text-decoration: line-through map-get($colors, bd);
            }
            button {
              background-color: map-get($colors, bg);
              border: 1px solid map-get($colors, bd);
            }
          }
        }
      }
    }

    .add-container{
      width: 100%;
      background-color: rgb(255, 255, 255);
      flex-basis: 20%;
      display: flex;
      flex-direction: row;
      padding: 1vw;
      
      textarea {
        font-size: 1rem;
        resize: none;
        flex-basis: 90%;
        outline: none;
        border: 1px solid map-get($colors, bd);
      }
      input {
        flex-basis: 10%;
        background-color: rgb(235, 235, 235);
        border: 1px solid map-get($colors, bd);
        border-left: none;
      }

    }
}
} 